{% extends '../plantilla.html' %}

{% block content %}
  
{% if not user.is_authenticated %}
<script>  
window.location.replace('/login/');
</script> 
{% endif %}

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                  
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                               {{perfil.nombre}}
                            </h5>
                            <h6>
                                {%if doctor %}      
                                   Doctor, {{doctor.especialidad}}
                                {% else %}
                                    Administrador

                                {% endif%}
                                
                            </h6>
                            <p class="proile-rating">CALIDAD : <span>8/10</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Informacion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Reportes Realizados</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Editar perfil"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>ENLACES</p>
                    <a href="">Cambiar contraseña</a><br/>
                    <a href="">nose algo lindo</a><br/>
                    <a href="">nose algo lindo</a><br>
                    
                    <a href="">nose algo lindo</a><br/>
                   
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Usuario</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user.username}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Nombre</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{perfil.nombre}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user.email}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Telefono</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>123 456 7890</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Direccion</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{perfil.departamento}},{{perfil.municipio}}</p>
                                    </div>
                                </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label></label>
                                    </div>
                                    <div class="col-md-6">
                                        <p></p>
                                    </div>
                                </div>
                              
                       
                    </div>
                </div>
            </div>
        </div>
    </form>           
</div>
{% endblock %}