{% extends '../plantilla.html' %}
{% block content %}

{% if not user.is_staff  %}

<div class="modal" tabindex="-1" role="dialog" id="myModal"  data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hola {{user.perfil.nombre}}</h5>
       
      </div>
      <div class="modal-body">
        <p>Parece ser que no tienes permisos para estar aqui.</p>
      </div>
      <div class="modal-footer">
        <a type="button"  href="{% url 'dashboard' %}" class="btn btn-primary">Regresar al inicio</a>
      
      </div>
    </div>
  </div>
</div> 
<script>  
//window.location.replace('/dashboard/');
$('#myModal').modal('show')
</script>


{% endif %}

<div class="container my-5">	
	<form method="POST"  id="ReporteForm" data-municipios-url="{% url 'ajax_cargar_municipios' %}">
		{% csrf_token %}
		<div class="card text-center">
			<div class="card-header">
				<p class="h3">Informacion del Doctor</p>
			</div>
			<div class="card-body">
				<div class="row">
					
					<div class="table-responsive col-sm-6">
						<table class="table table-hover table-sm">
							<thead class="thead-dark text-center align-middle ">
								<tr>
									<th scope="col">Nombres:</th>
									<td  class="text-center align-middle">{{doctor.perfil.nombre}}</td>
								</tr>
								<tr>
									<th scope="col">Apellidos:</th>
									<td  class="text-center align-middle">{{doctor.perfil.apellido}}</td>
								</tr>
								<tr>
									<th scope="col">DUI:</th>
									<td  class="text-center align-middle">{{doctor.perfil.DUI}}</td>
								</tr>
								<tr>
									<th scope="col">Telefono:</th>
									<td  class="text-center align-middle">{{doctor.perfil.telefono}}</td>
								</tr>
								<tr>
									<th scope="col">Fecha Nacimiento:</th>
									<td  class="text-center align-middle">{{doctor.perfil.fechaNacimiento}}</td>
								</tr>
								<tr>
									<th scope="col">Departamento:</th>
									<td  class="text-center align-middle">{{doctor.perfil.departamento}}</td>
								</tr>
								<tr>
									<th scope="col">Municipio:</th>
									<td  class="text-center align-middle">{{doctor.perfil.municipio}}</td>
								</tr>
							</thead>
						</table>
					</div>
					<div class="table-responsive col-sm-6">
						<table class="table table-hover table-sm">
							<thead class="thead-dark text-center align-middle ">								
								<tr>
									<th scope="col">Direccion</th>
									<td  class="text-center align-middle">{{doctor.perfil.complemento}}</td>
								</tr>
								<tr>
									<th scope="col">Codigo Medico</th>
									<td  class="text-center align-middle">{{doctor.codigoDoctor}}</td>
								</tr>
								<tr>
									<th scope="col">Especialidad</th>
									<td  class="text-center align-middle">{{doctor.especialidad}}</td>
								</tr>
								<tr>
									<th scope="col">Insitución de trabajo</th>
									<td  class="text-center align-middle">{{doctor.institucionTrabajo}}</td>
								</tr>
								<tr>
									<th scope="col">Usuario</th>
									<td  class="text-center align-middle">{{doctor.perfil.user.username}}</td>
								</tr>
								<tr>
									<th scope="col">Correo Electronico</th>
									<td  class="text-center align-middle">{{doctor.perfil.user.email}}</td>
								</tr>
								<tr>
									<th scope="col">Estado de Usiario</th>
									<td  class="text-center align-middle">
										{%if user.is_active == 0 %}
											<span class="badge badge-pill badge-warning">Desactivado</span>
										{% endif %}
										{%if user.is_active == 1 %}
											<span class="badge badge-pill badge-success">Activado</span>
										{% endif %}
									</td>
								</tr>
							</thead>
						</table>
					</div>
				
				</div>
			</div>
			<div class="card-footer text-muted">
				
				<div class="btn-group mr-2" role="group" aria-label="Second group">
					
					{% if doctor %}
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter">


						
						{% if doctor.perfil.tipoUsuario == 1%}
						 Asignar permisos de:
						<span class="badge badge-pill badge-warning">Doctor</span>
						{% else%}
						Asignar permisos de:
						<span class="badge badge-pill badge-success">Aministrador</span>
						{% endif %}

					</button>
					{% include '../perfiles/permiso-ejecutar.html' %}							
					{% endif %}
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}
