{% extends 'plantilla.html' %}
{% block content %}

	<div class="container">
		
			<table class="table">
				<thead>
				  <tr>
					<th scope="col">#</th>
					<th scope="col">Nombre Municipio</th>
					<th scope="col">Id Departamento</th>
				
				  </tr>
				</thead>
				<tbody>
					{% for departamento in departamentos %}
						<tr>
							<th scope="row"><a href="{% url 'actualizar_departamento' departamento.id %}">{{departamento.id}}</a></th>
							<td>{{departamento.nombre}}</td>
							<td>{{departamento.nombre}}</td>
						
						  </tr>
					{% endfor %}
				</tbody>
			  </table>	
		<a href ="{% url 'crear_departamento'%}">Nuevo Departamento</a>
	</div>
{% endblock %}
