{% load static  %}
<!doctype html>
<html lang ="es">
<head>
	<meta charset="UTF-8">
  <meta name ="viewport" content="width=device-width, user-scalable=no , initial-scale=1.0, maximun-scale=1.0 ,minimun-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--aja
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
  <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css"> 
 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
  <script src="{% static '/js/jquery-3.5.1.min.js' %}"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/toastr.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  	<!----Javascript-->
	<title>Reporte casos covid</title>
</head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">Reportes Covid19</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        {% if user.is_authenticated == False%} 
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'home' %}">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'crear_reporte' %}">Envianos tu reporte <span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
          {% if user.is_authenticated %}
        <li class="nav-item">
          <div class="form-inline my-2 my-lg-0">
        <a class="nav-link" href="{% url 'dashboard' %}">
          Inicio 
        </a>
        </li>
        <li class="nav-item">
          <div class="form-inline my-2 my-lg-0">
          <a class="nav-link" href="{% url 'listar_reportes' %}">
            Reportes {% block badge %}
            {% endblock %}
          </a>
        </li>
        <li class="nav-item">
          <div class="form-inline my-2 my-lg-0">
        <a class="nav-link" href="{% url 'listar_doctores' %}">
            Doctores 
          </a>
        </li>
          <li class="nav-item">
            <div class="form-inline my-2 my-lg-0">
          <a class="nav-link" href="{% url 'listar_departamentos' %}">
            Departamentos 
          </a>
        </li>
          <li class="nav-item">
            <div class="form-inline my-2 my-lg-0">
          <a class="nav-link" href="{% url 'listar_municipios' %}">
              Municipios
          </a>
        </li>
      {% endif %}   
      </ul>
      <div class="form-inline my-2 my-lg-0">
          <div class="col">
            {% if user.is_authenticated %}
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle my-2 my-sm-0 text-light bg-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{user.perfil.nombre}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a>
                <a class="dropdown-item" href="{% url 'perfilview' %}">Perfil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
              </div>
            </div>
              {% endif %}     
              {% if request.get_full_path != "/login/" and user.is_authenticated == False%}  
              <a href="{% url 'login' %}" class=" btn  btn-outline-light my-2 my-sm-0" type="submit">Iniciar Sesion</a>  
              {% endif %}
              {% if request.get_full_path != "/register/"  and user.is_authenticated == False %}  
              <a href="{% url 'register_url' %}" class=" btn  btn-outline-light my-2 my-sm-0" type="submit">Registrarse</a>  
              {% endif %}
          </div>
      </div>
    </div>
</nav>
  <body>



{% block scripts %}
{% endblock scripts %}



  
	{% block content %}
  {% endblock %}
  <div class="mt-5">
			
  </div>
  <footer class="navbar footer fixed-bottom footer-dark bg-dark ">
    <a class="text-light" href="#">casos covid , copyright</a>  
  </footer>

    <script src="{% static '/js/popper.min.js' %}" ></script>
    <script src="{% static '/js/bootstrap.min.js' %}" ></script>
    <script src="{% static '/js/toastr.min.js' %}" ></script>

      {% include 'reportes/mensaje.html' %}
    <script src="{% static '/js/dependencia.js' %}" ></script>


  </body>
</html>