{% load static  %}
<!doctype html>
<html lang ="es">
<head>
	<meta charset="UTF-8">
	<meta name ="viewport" content="width=device-width, user-scalable=no , initial-scale=1.0, maximun-scale=1.0 ,minimun-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">

	<title>Reporte casos covid</title>
</head>
  <nav class="navbar navbar-light bg-light">
	<span class="navbar-brand mb-0 h1">Navbar</span>
  </nav>
<body>
	{% block content %}
    {% endblock %}
	<!----Javascript-->
	<script src="{% static '/js/jquery-3.5.1.min.js' %}"></script>
	<script src="{% static '/js/bootstrap.min.js' %}" ></script>
	<script src="{% static '/js/dependencia.js' %}" ></script>
</body>
</html>