{% extends 'base.html' %}
{% block content %}
<div class="container">
	<h1>Nuevo reporte de casos</h1>
	<form method="POST">
	{% csrf_token %}
	<div class="row">
		<div class="col">
			<div class="form-group">
				<label for="exampleInputEmail1">Cantidad pruebas realizadas</label>
				<div>{{ form.idDepartamento }}</div>
				<small id="emailHelp" class="form-text text-muted">Incluyendo las negativas.</small>
			</div>
		</div>
		<div class="col">
			<div class="form-group">
				<label for="exampleInputEmail1">Cantidad pruebas Positivas</label>
				<div>{{ form.nombreMunicipio }}</div>
				<small id="emailHelp" class="form-text text-muted">comentario?.</small>
			</div>
		</div>
		
	  </div>
		
		<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
			<div class="btn-group mr-2" role="group" aria-label="First group">
				<button type="submit" class="btn btn-primary">Guardar</button>
			</div>
			<div class="btn-group mr-2" role="group" aria-label="Second group">
				{% if municipio %}
				<div><a class="btn btn-danger" href="{% url 'eliminar_municipio' municipio.id %}" role="button">Borrar</a></div>
					
				{% endif %}
			</div>
			
		  </div>
		   
	</form>

</div>
{% endblock %}
