{% extends '../plantilla.html' %}

{% block content %}

	<div class="container">
		
		<div class="my-5">
			<p class="h2">Lista de Departamentos</p>
			<a href ="{% url 'crear_departamento'%}">Nuevo Departamento </a>
		</div>
		<div class="row">
			
			<table class="table table-sm">
				<thead class="thead-dark">
				  <tr>
					<th scope="col">#</th>
					<th scope="col-4">Nombre Municipio</th>
				  </tr>
				</thead>
				<tbody>
					{% for departamento in departamentos %}
						<tr>
							<th scope="row"><a href="{% url 'actualizar_departamento' departamento.id %}">{{departamento.id}}</a></th>
							<td>{{departamento.nombre}}</td>
							
						
						  </tr>
					{% endfor %}
				</tbody>
			  </table>	
	
	</div>
	</div>
{% endblock %}
