{% extends '../plantilla.html' %}
{% block content %}
{% if not user.is_staff  %}

<div class="modal" tabindex="-1" role="dialog" id="myModal"  data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hola {{user.perfil.nombre}}</h5>
       
      </div>
      <div class="modal-body">
        <p>Parece ser que no tienes permisos para estar aqui.</p>
      </div>
      <div class="modal-footer">
        <a type="button"  href="{% url 'dashboard' %}" class="btn btn-primary">Regresar al inicio</a>
      
      </div>
    </div>
  </div>
</div> 
<script>  
//window.location.replace('/dashboard/');
$('#myModal').modal('show')
</script>


{% endif %}

<div class="container">
	<h1>Actualizar</h1>
	<form method="POST">
		{% csrf_token %}
		<div class="row">
			<div class="col">
				<div class="form-group">
					<label for="exampleInputEmail1">Nombre departamento</label>
					<div>{{ form.nombre }}</div>
					<small id="emailHelp" class="form-text text-muted">Incluyendo las negativas.</small>
				</div>
			</div>
			
			
		  </div>
			
			<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
				<div class="btn-group mr-2" role="group" aria-label="First group">
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
				<div class="btn-group mr-2" role="group" aria-label="Second group">
					{% if departamento %}
					<div><a class="btn btn-danger" href="{% url 'eliminar_departamento' departamento.id %}" role="button">Borrar</a></div>
						
					{% endif %}
				</div>
				
			  </div>
			
		   
			
		</form>
		
	
	
</div>
{% endblock %}
