{% extends '../plantilla.html' %}

{% block content %}
  
{% if user.is_authenticated %}
<div class="modal" tabindex="-1" role="dialog" id="myModal"  data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hola {{user.perfil.nombre}}</h5>
       
      </div>
      <div class="modal-body">
        <p>Parece ser que ya has iniciado sesion.</p>
      </div>
      <div class="modal-footer">
        <a type="button"  href="{% url 'dashboard' %}" class="btn btn-primary">Continuar al inicio</a>
        <a type="button" href="{% url 'logout' %}" class="btn btn-secondary">Cerrar sesion</a>
      </div>
    </div>
  </div>
</div> 
<script>  
//window.location.replace('/dashboard/');
$('#myModal').modal('show')
</script>

{% endif %}

<br>
<br>
    <div class="container">
        <div class="row">
          <aside class="col-sm-6 mx-auto" >
            
            <div class="card">
            <article class="card-body">
            <a  href="{% url 'register_url' %}" class="float-right btn btn-outline-primary">Reporta para nosotros</a>
            <h4 class="card-title mb-4 mt-1">Iniciar Sesion</h4>
              <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label>Usuario</label>
                    {{form.username}}
                </div> <!-- form-group// -->
                <div class="form-group">
                  <a class="float-right" href="{% url 'password_reset' %}">Olvidaste tu contraseña</a>
                  <label>contraseña</label>
                   {{form.password}}
                </div> <!-- form-group// --> 
                <div class="form-group"> 
                </div> <!-- form-group// -->  
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Iniciar Sesion  </button>
                </div> <!-- form-group// -->    
                {% for error in form.errors %}
                  <span class="text-danger"> Usuario o contraseña incorrectos</span>
                 {% endfor %}           
                                                          
            </form>
            </article>
            </div> <!-- card.// -->
        
          </aside> <!-- col.// --->
        </div>
        
      </div>    
{% endblock %}




