{% extends 'plantilla.html' %}

{% load i18n %}

{% block content %}
<br>
<div class="container">
    <aside class="col-sm-6 mx-auto" >
    <div class="card">
        <div class="card-header">
          Reinicio de Contraseña
        </div>
      
  
        <div class="card-body">
            {% if validlink %}
            <h1>Escriba su nueva contraseña</h1>
            <p>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
    
            <form action="" method="post">{% csrf_token %}
                {% csrf_token %}
                {{ form.new_password1.errors }}
                <div class="form-group">
                    <label for="id_new_password1">Nueva contraseña</label>
                    <input class="form-control" type="password" id="id_new_password1" name="new_password1" value="">
                   
                </div> <!-- form-group// -->
                {{ form.new_password2.errors }}
                <div class="form-group">
                    <label for="id_new_password2">Confirme su contraseña</label>
                    <input class="form-control" type="password" id="id_new_password2" name="new_password2" value="">
                  
                  
                </div> <!-- form-group// --> 
              
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Cambiar contraseña </button>
                </div> <!-- form-group// -->                                                           
            </form>
            {% else %}

            <h1>Reinicio de contraseña sin exito</h1>
    
            <p>El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se ha utilizado. Solicite un nuevo restablecimiento de contraseña.</p>
    
            {% endif %}
        </div>
  
       
      </div>
      </aside>
</div>
{% endblock content %}