{% extends 'plantilla.html' %}


{% block content %}

<br>
<div class="container">
<aside class="col-sm-6 mx-auto" >
<div class="card text-center">
    <div class="card-header">
      Recuperacion contraseña
    </div>
    <div class="card-body">
      <h5 class="card-title">Exito</h5>
      <p class="card-text">Tu contraseña fue cambiada con exito , intena iniciar sesion ahora</p>
      <a href="{% url 'login' %}" class="btn btn-primary">Iniciar sesion</a>
    </div>
    
  </div>
</div>
</aside>
</div>
{% endblock %}