{% extends 'plantilla.html' %}
{% block content %}
<div class="container">
  <div class="row justify-content-center ">
      <div class=" col-sm-4 ">
          <div class="card  my-5 "> 
              <img src="../../../static/img/iniciar-sesion.png " class=" my-1 mx-auto  d-block" alt="Responsive image">
              <div class="card-body text-center">
                  <h2 class="text-center">Exito</h2>
                  <p class="card-text">Tu contraseña fue cambiada con exito , intena iniciar sesion ahora</p>
                  <a class="btn btn-outline-info" href="{% url 'login' %}" role="button">Iniciar Sesion</a>
              </div>
          </div>
      </div>
  </div>
</div>
<br>
{% endblock %}