{% extends 'plantilla.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center ">
        <div class=" col-sm-4 ">
            <div class="card  my-5 "> 
                <img src="../../../static/img/correo-electronico.png " class=" my-1 mx-auto  d-block" alt="Responsive image">
                <div class="card-body text-center">
                    <h2 class="text-center">Revisa tu correo electronico</h2>
					<p >
						Si hay una cuenta con el correo que ingresaste resiviras un correo con instrucciones,
						si no recibes el correo, asegurate de haber introducido correctamente la direccion o revisa tu carpeta de Spam
					   </p>
					   <a class="btn btn-outline-info" href="{% url 'home' %}" role="button">Regresar al Inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}