{% extends 'plantilla.html' %}

{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		   Te hemos mandado un correo con las instrucciones, Si hay una cuenta relacionada con el correo que ingresaste.
		    lo deberias de recibir en breve.
		  </p>
		  <p class="m-auto p-2">
		    si no recibes el correo , asegurate de haber introducido correctamente la direccion o revisa tu carpeta de correo no deseado
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'home' %}">Regresar al inicio</a></p>
	</div>
</div>



{% endblock %}