{% extends 'plantilla.html' %}
{% block content %}
<div class="container">

    {% if request.user.is_authenticated %}
    <br><br>
    <div class="card text-center">
        <div class="card-header">
          Cambio de contraseña
        </div>
        <div class="card-body">
          <h5 class="card-title">Exito</h5>
          <p class="card-text">Tu contraseña fue cambiada con exito.</p>
          <a href="{% url 'home' %}" class="btn btn-primary">Regresar al inicio</a>
        </div>
        
      </div>
    </div>
    {% endif %}

    {% if not request.user.is_authenticated %}
    <div class="row justify-content-center ">
        <div class=" col-sm-4 ">
            <div class="card  my-5 "> 
                <img src="../../../static/img/correo-electronico.png " class=" my-1 mx-auto  d-block" alt="Responsive image">
                <div class="card-body text-center">
                    <h2 class="text-center">Revisa tu correo electronico</h2>
					<p >
						Si hay una cuenta con el correo que ingresaste resiviras un correo con instrucciones,
						si no recibes el correo, asegurate de haber introducido correctamente la direccion o revisa tu carpeta de Spam
					   </p>
					   <a class="btn btn-outline-info" href="{% url 'home' %}" role="button">Regresar al Inicio</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
  
</div>
{% endblock %}