{% extends '../plantilla.html' %}
{% block content %}
{% load reportes_extras %}
	<div class="container">
		<div class="row col mt-5"> 
			<p class="h2">Lista de reportes</p>
		</div>
		<div class="d-flex flex-row-reverse bd-highlight">
			<div class="p-2 bd-highlight">
				<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#staticBackdrop">
					Filtrar reportes <span class="material-icons md-p">filter_alt</span>
				</button>
			</div>
			<div class="p-2 bd-highlight">
				<a class="btn btn-outline-info" href="{% url 'crear_reporte'%}" >Nuevo Reporte</a>
			</div>
		</div>
		<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<form method="GET" autocomplete="off" id="ReporteForm" data-municipios-url="{% url 'ajax_cargar_municipios' %}" >
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="staticBackdropLabel">Filtar reportes por:</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="container-fluid">
								<div class="row">
								<!--{{filtered_reportes.form.as_p}}-->
									<div class="col-sm-6">
										<div class="form-group">
											<label >Departamento</label>
											<div >{{filtered_reportes.form.departamento}}</div>
										</div>                                                             
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label >Municipio</label>
											<div >{{filtered_reportes.form.municipio}}</div>
										</div>                                                             
									</div>
									<div class="col-sm-12">
										<div class="form-group">
											<label >Direccion</label>
											<div >	{{filtered_reportes.form.complemento_c}}</div>
										</div>                                                             
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label >Fecha Tomada Inicio </label>
											<div><input type="date" name="fechaTomada"  id="id_fechaTomada" class="form-control form-control-sm"></div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label >Fecha Tomada Final </label>
											<div><input type="date" name="fechaTomada"  id="id_fechaEditado" class="form-control form-control-sm"></div>
										</div>
									</div>
									<!--
									<div class="col-md-3 col col-sm-6 col-12">
										<div class="form-group">
											<label >Fecha Editado </label>
											{{filtered_reportes.form.fechaEditado}}
										</div>
									</div>-->
									{% if user.is_staff == 1 %}
									<div class="col-sm-12">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" id="eliminados" value="" onChange=dropdownChange();>
											<label class="form-check-label" for="inlineCheckbox1">Mostrar Eliminados</label>
										</div>                                                           
									</div>
									{{filtered_reportes.form.eliminado}}
									{% endif %}
									<!--<p><label for="id_eliminado">Eliminado:</label> <input type="number" name="eliminado" step="any" id="id_eliminado"></p>-->
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
							<div class="btn-group mr-2 " role="group" aria-label="First group">
								<button type="submit" class="btn btn-primary ">
									Aplicar filtros <span class="material-icons md-p">search</span> 
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>		
		<div class="table-responsive">
			<table class="table table-hover table-sm"  >
				<thead class="thead-dark text-center align-middle">
					<tr>
						
						<th scope="col">Ingresado por</th>
						<th scope="col">Fecha Tomada</th>
						<th scope="col">Cantidad Pruebas</th>
						<th scope="col">Cantidad Positivas</th>
						<th scope="col">Sospechosos</th>
						<th scope="col">Departamento</th>
						<th scope="col">Municipio</th>
						<th scope="col">Estado</th>
						<th scope="col">Ver/Editar</th>
					</tr>
				</thead>
				<tbody >
					{% for reporte in reporte_page_obj %}
						<tr >
							<td class="text-center align-middle">
								{% if reporte.perfil %}
									{{reporte.perfil.nombre}} , {{reporte.perfil.apellido}}
	
								{% endif %}
								{% if reporte.duiIngresado and not reporte.perfil %}
									{{reporte.duiIngresado}}
								{% endif%}
								{% if not reporte.duiIngresado and not reporte.perfil %}
									Usuario Anonimo
								{% endif%}

							</td>
							<td class="text-center align-middle">{{reporte.fechaTomada}}</td>
							
							<td class="text-center align-middle">{{reporte.cantidadPruebas}}</td>
							<td class="text-center align-middle">{{reporte.cantidadPositivas}}</td>
							<td class="text-center align-middle">{{reporte.sospechosos}}</td>						
							<td class="text-center align-middle">{{reporte.departamento}}</td>
							<td class="text-center align-middle">{{reporte.municipio}}</td>
							<td class="text-center align-middle">
								{% if reporte.estado == 1 %}
								<span class="badge badge-pill badge-success">Validado</span>
								{% endif %}
								{% if reporte.estado == 0 %}
								<span class="badge badge-pill badge-warning">Sin Validar</span>
								{% endif %}
								{% if reporte.estado == 2 %}
								<span class="badge badge-pill badge-danger">Rechazado</span>
								{% endif %}
								{% if reporte.eliminado == 1 and user.perfil.tipoUsuario == 1 %}
								<span class="badge badge-pill badge-danger">Eliminado</span>
								{% endif %}
							</td>
							<th class="text-center align-middle" scope="row"><a href="{% url 'actualizar_reporte' reporte.id %}"><i class="material-icons md-dark">edit</i></a></th>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<nav aria-label="Page navigation mx-auto">
			<ul class="pagination">
				{% if reporte_page_obj.has_previous %}
				<li class="page-item">
					<a href="{% my_url 1 'page' request.GET.urlencode %}"  class="page-link">  <span aria-hidden="true">&laquo;</span></a>
				</li>
				<li class="page-item">
					<a href="{% my_url 	reporte_page_obj.previous_page_number 'page' request.GET.urlencode %}" class="page-link">{{reporte_page_obj.previous_page_number}}</a>
				</li>
				{% endif %}
				<li class="page-item"><a class="page-link" href="#">Pagina {{reporte_page_obj.number}} de {{reporte_page_obj.paginator.num_pages}}</a></li>
				{% if reporte_page_obj.has_next %}
				<li class="page-item">
					<a class="page-link" href="{% my_url reporte_page_obj.next_page_number 'page' request.GET.urlencode %}">{{reporte_page_obj.next_page_number}}</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="{% my_url reporte_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">  <span aria-hidden="true">&raquo;</span></a>
				</li>
				{% endif %}
			</ul>
		</nav>
	</div>
{% endblock %}
