{% extends '../plantilla.html' %}
{% block content %}
{% include 'reportes/mensaje.html' %}
<br>
	<div class="container">
		<div class="my-5">
			<p class="h2">Lista de reportes</p>
		</div>
		<div class="table-responsive">
			<table class="table table-hover ">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Cantidad Pruebas</th>
						<th scope="col">Cantidad Positivas</th>
						<th scope="col">Sospechosos</th>
						<th scope="col">Departamento</th>
						<th scope="col">Municipio</th>
						<th scope="col">Fecha Tomada</th>
						<th scope="col">Estado</th>
						<th scope="col">Ver/Editar</th>
					</tr>
				</thead>
				<tbody >
					{% for reporte in reportes %}
						<tr >
							<td class="text-center align-middle" scope="row"><a href="{% url 'actualizar_reporte' reporte.id %}"></a>{{reporte.id}}</a></th>
							<td class="text-center align-middle">{{reporte.cantidadPruebas}}</td>
							<td class="text-center align-middle">{{reporte.cantidadPositivas}}</td>
							<td class="text-center align-middle">{{reporte.sospechosos}}</td>						
							<td class="text-center align-middle">{{reporte.departamento}}</td>
							<td class="text-center align-middle">{{reporte.municipio}}</td>
							<td class="text-center align-middle">{{reporte.fechaTomada}}</td>
							{% if reporte.estado == 1 %}
								<td class="text-center align-middle"><span class="badge badge-pill badge-success">Validado</span></td>
							{% endif %}
							{% if reporte.estado == 0 %}
								<td class="text-center align-middle"><span class="badge badge-pill badge-warning">Sin Validar</span></td>
							{% endif %}
							<th class="text-center align-middle" scope="row"><a href="{% url 'actualizar_reporte' reporte.id %}"><i class="material-icons md-dark">edit</i></a></th>
						  </tr>
					{% endfor %}
				</tbody>
			</table>
		</div>	
		<a href ="{% url 'crear_reporte'%}">Nuevo reporte </a>
		
	</div>
	<script type="text/javascript">

$("#alert-danger").fadeTo(2000, 500).slideUp(500, function(){
       $("#alert-danger").slideUp(500);
});
		</script>
{% endblock %}
