{% extends 'plantilla.html' %}
      
    
    {% block scripts %}
   
    {% endblock scripts %}
    {% block content %}
    {% load static%}
    <script src="{%  static 'js/buscar_dep.js' %}"> </script>
  
    <div class="container">
      
        <div class="my-5 text-center">

			<p class="h2">Casos Covid19 El Salvador</p>
			<p>incluso los no reportados por el gob xd </p>
        </div>
        
        
    <!------------->
    <div class="row mb-3">
        <div class="col-xl-3 col-6 col-sm-6 py-2">
            <div class="card Color1 text-white h-100">
                <div class="card-body Color1">
                    <div class="rotate">
                        <i class="fa fa-user fa-4x"></i>
                    </div>
                    <h6 class="timer count-title count-number">{{ pruebas_count.cantidadPruebas__sum}}</h6>
                    <h1 class="count-text ">Pruebas Realizadas</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-6 col-sm-6 py-2">
            <div class="card text-white Color2 h-100">
                <div class="card-body Color2">
                    <div class="rotate">
                        <i class="fa fa-list fa-4x"></i>
                    </div>
                    <h6 class="timer count-title count-number" >{{ casos_count.cantidadPositivas__sum}}</h6>
                    <h1 class="count-text ">Casos Confirmados</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-6 col-sm-6 py-2">
            <div class="card text-white Color3 h-100">
                <div class="card-body Color3">
                    <div class="rotate">
                        <i class="fa fa-twitter fa-4x"></i>
                    </div>
                    <h6 class="timer count-title count-number" >Doctores</h6>
                    <h1 class="count-text ">{{all_docs}}</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-6 col-sm-6 py-2">
            <div class="card text-white bg-light text-dark h-100">
                <div class="card-body">
                    <div class="rotate">
                        <i class="fa fa-share fa-4x"></i>
                    </div>
                    <h6 class="timer count-title count-number" >aun</h6>
                    <h1 class="count-text ">no se xd</h1>
                </div>
            </div>
        </div>
    </div>

   
    <div class="row mb-3">
        <div class="col-xl-6 col-sm-6 py-2">
            <div class="my-5 text-center">

                <p class="h2">Casos Por departamento</p>
               
            </div>
            
            <canvas id="myChart_departamentos" width="100" height="50"></canvas>
        </div>
        <div class="col-xl-6 col-sm-6 py-2">
            <div class="my-5 text-center">

                <p class="h2">Casos confirmados grupo etario </p>
               
            </div>
            
            <canvas id="myChart_edades" width="100" height="50"></canvas>
        </div>
        <div class="col-xl-6 col-sm-6 py-2">
            <div class="my-5 text-center">

                <p class="h2">Casos de en el tiempo</p>
              
            </div>
            
            <canvas id="myChartfechas" width="100" height="50"></canvas>
        </div>

        <div class="col-xl-6 col-sm-6 py-2">
            <div class="my-5 text-center">

                <p class="h2">Casos confirmados por Genero</p>
              
            </div>
            
            <canvas id="myChart_genero" width="100" height="50"></canvas>
        </div>

        <div class="col-xl-6 col-sm-6 py-2">
            <div class="my-5 text-center">

                <p class="h2">Casos de Sansalvador</p>
              
            </div>
            
            <canvas id="chart_departamento-1" width="100" height="50"></canvas>
        </div>
        
            <div class="col-xl-6 col-sm-6 py-2">
                <div class="card">
                <div class="my-5 text-center">

                    <p class="h2">Casos de Santa Ana</p>
                
                </div>
                
                <canvas id="chart_departamento-2" width="100" height="50"></canvas>
            </div>
       </div>
        <div class="col-xl-6 col-sm-6 py-2">
            <div class="my-5 text-center">

                <p class="h2">Casos de Sonsonate</p>
              
            </div>
            
            <canvas id="chart_departamento-3" width="100" height="50"></canvas>
        </div>

        <div class="col-xl-6 col-sm-6 py-2">
            <div class="my-5 text-center">

                <p class="h2">Casos de Cabañas</p>
              
            </div>
            
            <canvas id="chart_departamento-4" width="100" height="50"></canvas>
        </div>
        <div class="col-xl-6 col-sm-6 py-2">
            <div class="my-5 text-center">

                <p class="h2">Casos de Chalatenango</p>
              
            </div>
            
            <canvas id="chart_departamento-5" width="100" height="50"></canvas>
        </div>

        <div class="col-xl-6 col-sm-6 py-2">
            <div class="my-5 text-center">

                <p class="h2">Casos de San Miguel</p>
              
            </div>
            
            <canvas id="chart_departamento-6" width="100" height="50"></canvas>
        </div>

        <div class="col-xl-6 col-sm-6 py-2">
            <div class="my-5 text-center">

                <p class="h2">Casos de La Paz</p>
              
            </div>
            
            <canvas id="chart_departamento-7" width="100" height="50"></canvas>
        </div>

        <div class="col-xl-6 col-sm-6 py-2">
            <div class="my-5 text-center">

                <p class="h2">Casos de Ahuachapán</p>
              
            </div>
            
            <canvas id="chart_departamento-8" width="100" height="50"></canvas>
        </div>

        <div class="col-xl-6 col-sm-6 py-2">
            <div class="my-5 text-center">

                <p class="h2">Casos de Cuscatlán</p>
              
            </div>
            
            <canvas id="chart_departamento-9" width="100" height="50"></canvas>
        </div>
        
        <div class="col-xl-6 col-sm-6 py-2">
            <div class="my-5 text-center">

                <p class="h2">Casos de La Libertad</p>
              
            </div>
            
            <canvas id="chart_departamento-10" width="100" height="50"></canvas>
        </div>

        <div class="col-xl-6 col-sm-6 py-2">
            <div class="my-5 text-center">

                <p class="h2">Casos de La Unión</p>
              
            </div>
            
            <canvas id="chart_departamento-11" width="100" height="50"></canvas>
        </div>

        <div class="col-xl-6 col-sm-6 py-2">
            <div class="my-5 text-center">

                <p class="h2">Casos de Morazán</p>
              
            </div>
            
            <canvas id="chart_departamento-12" width="100" height="50"></canvas>
        </div>

        <div class="col-xl-6 col-sm-6 py-2">
            <div class="my-5 text-center">

                <p class="h2">Casos de San Vicente</p>
              
            </div>
            
            <canvas id="chart_departamento-13" width="100" height="50"></canvas>
        </div>
        <div class="col-xl-6 col-sm-6 py-2">
            <div class="my-5 text-center">

                <p class="h2">Casos de 	Usulután</p>
              
            </div>
            
            <canvas id="chart_departamento-14" width="100" height="50"></canvas>
        </div>


        
    </div>
</div>



    {% endblock %}


   